   <div class="content_post">
    <%= simple_format(tweet.text) %>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
           
        <div class="more">
          <ul class="more_list">
          <li class="btne">
          <span>
          <%= link_to 'EDIT', "/tweets/#{tweet.id}/edit", method: :get, class: "edit" %>
          </span>
          </li>
            <li class="btnd">
            <span>
              <%= link_to 'DESTROY', "/tweets/#{tweet.id}", method: :delete, class: "destroy" %>
              </span>
            </li>
          </ul>
        </div>
      <% end %>
    </div>